{% extends "LWLouvreBundle::layout.html.twig" %}
{%block container%}
<div class="form">
	
			{{ form_start(form, {'attr': {'class': 'form-inline'}}) }} 
			{# Les erreurs générales du formulaire. #} 
			{{ form_errors(form) }}
	
			<div id="form_louvre">
				<div class="form-group">
			    	<label for="nbBillets">Choisissez un mombre de billets</label>
			    	<input type="number" class="form-control" id="nbBillets" aria-describedby="Saisir le nombre de billets" min="1" placeholder="Saisir le nombre de billets">			    	
			  	</div>
				<div class="form-group">
					{{ form_label(form.visiteDate, "Date de votre visite", {'label_attr': {'class': 'datevisitlabel'}}) }} 
					{{ form_errors(form.visiteDate) }} 
					{{ form_widget(form.visiteDate,{'attr': {'class': 'datepicker form-controlx'}}) }}
				</div>
				<div class="form-group">
					{{ form_label(form.typeOrder, "Type de journée", {'label_attr': {'class': 'typelabel'}}) }}
					{{ form_errors(form.typeOrder) }}
					{{ form_widget(form.typeOrder, {'attr':	{'class': 'form-control'}}) }}
				</div>
				<div class="form-group" style="display: none;">
					{{ form_label(form.email, "Votre adresse email", {'label_attr': {'class': 'emaillabel'}}) }} 
					{{ form_errors(form.email) }}
					{{ form_widget(form.email, {'attr':{'class': 'form-control'}}) }}
				</div>
				
				<div id="billets">
					
				</div>
			</div>
			
			
		
		</div>
		<br>
				
		<div class="col-sm-12">
			{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget 
			{{ form_widget(form.save, {'attr': {'class': 'step1 btn btn-primary'}}) }} #}
		</div>
		<br>
		<br> {# Génération automatique des champs pas encore écrits. Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !) et tous les champs cachés (type « hidden »). #} 
		{{ form_rest(form) }}
		
		{# Fermeture de la balise <form>du formulaire HTML #}		
		{{ form_end(form) }}
</div>
{%endblock%}
{%block javascript%}
    {{ parent() }}
    <script src="{{ asset('assets/js/datePicker.js')}}"></script>
    <script>
        var date = new Date();
      $('.datepicker').datepicker({
          startDate: '-3d',
          startDate: date,
          daysOfWeekDisabled: "2"
        });
        </script>
    {%endblock%}