{% extends "LWLouvreBundle::layout.html.twig" %}
{%block into %}
{% for message in app.flashes('notice') %}
     <div class="alert alert-danger" style="margin-top:1.5%;"><strong>
        {{ message }}
    </strong></div>
{% endfor %}
 <div class="alert alert-info information">
  Nous vous précisons pour des raisons de gestion qu’il n’est pas possible de réserver pour <strong>les jours passés (!) , les dimanches, les jours fériés (les 1er mai, 1er novembre et 25 decembre) et les jours où plus de 1000 billets ont été vendus en tout pour ne pas dépasser la capacité du musée.</strong>. Merci pour votre bonne comprehension !!! 
</div>
{%endblock%}
{%block container%}    
	 
   
<div class="form">
	
			{{ form_start(form, {'attr': {'class': 'form-inlinex'}}) }} 
			{# Les erreurs générales du formulaire. #} 
			{{ form_errors(form) }}
	
			<div id="form_louvre">
				<div class="form-group">
			    	<label for="nbBillets">Choisissez un mombre de billets</label>
			    	<input type="number" class="form-control nbr_billet" id="nbBillets" aria-describedby="Saisir le nombre de billets" min="1" max="1000" value="{{ nbBillets }}" placeholder="Saisir le nombre de billets" name ="nbr_billet" required>			    	
			  	</div>
				<div class="form-group" style="width: 100%;clear:both;">
					{{ form_errors(form.visiteDate) }}
					{{ form_label(form.visiteDate, "Date de votre visite", {'label_attr': {'class': 'datevisitlabel'}}) }} 
					{{ form_widget(form.visiteDate) }}
				</div>
				<div class="form-group" style="width: 100%;clear:both;">
					{{ form_label(form.typeOrder, "Type de journée", {'label_attr': {'class': 'typelabel'}}) }}
					{{ form_errors(form.typeOrder) }}
					{{ form_widget(form.typeOrder, {'attr':	{'class': 'type_journee form-control','id':'type_journee'}}) }}
				</div>
				<div class="form-group" style="display: none;width: 100%;clear:both;">
					{{ form_label(form.email, "Votre adresse email", {'label_attr': {'class': 'emaillabel'}}) }} 
					{{ form_errors(form.email) }}
					{{ form_widget(form.email, {'attr':{'class': 'form-control'}}) }}
				</div>
                                <br />
                                <br />
				<!--<button id="add_billet" class="btn btn-default">Passer à l'étape suivante</button>-->
				<div id="billets" style = "display:nonex;">
					
				</div>
				<br />
				<div class="col-sm-12" style = "display:none;" id = "bloc_save">
					{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
					{#{{ form_widget(form.Continuer, {'attr': {'class': 'step1 btn btn-primary'}}) }} #}
					{{ form_widget(form.Continuer, {'attr': {'class': 'btn btn-primary'}}) }}
		       </div>
			</div>
			
			
		
		</div>
		<br>
				
		
		<br>
		<br> {# Génération automatique des champs pas encore écrits. Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !) et tous les champs cachés (type « hidden »). #} 
		{{ form_rest(form) }}
		
		{# Fermeture de la balise <form>du formulaire HTML #}		
		{{ form_end(form) }}
</div>

<div class="alert tarification">
 <h3>Tarifications</h3>
   <ul class="list-group">
  <li class="list-group-item">Un tarif « normal » à partir de 12 ans<span class="badge">16€</span></li>
  <li class="list-group-item">Un tarif « enfant » à partir de 4 ans et jusqu’à 12 ans(l’entrée est gratuite pour les enfants de moins de 4 ans) <span class="badge">8€</span></li>
  <li class="list-group-item">Un tarif « senior » à partir de 60 ans <span class="badge">12€</span></li>
  <li class="list-group-item">Un tarif « réduit » accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…) <span class="badge">10€</span></li>
</ul> 
</div>
{%endblock%}
{%block javascript%}
    {{ parent() }}
    <script src="{{ asset('assets/js/datePicker.js')}}"></script>
     <script src="{{ asset('assets/js/checkDate.js')}}"></script>
    <script>
        var date = new Date();
        $('.datepicker').datepicker({
          format: 'yyyy-mm-dd',
          default: 'yyyy-mm-dd',
          startDate: '-3d',
          local: "fr", 
          datesDisabled: ["yyyy-mm-d+1", "yyyy-12-25"],
          daysOfWeekDisabled: "2,0"
        });
    </script>

    <script type="text/javascript">
	  	$(document).ready(function() {
	  		// on masque le label
	  		$("#lw_louvrebundle_orders_tickets").parent().find("label").hide();
	    	// On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
	    	var $container = $('div#lw_louvrebundle_orders_tickets');
	
		    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
		    var index = $container.find(':input').length;
		
		    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
		    $('#nbBillets').change(function(e) {
		        var totaltickets = $(this).val();
		        $container.empty();
		        index = 0
		        for (var iter = 0; iter < totaltickets; iter++) {
		    	    addTicket($container);
		        }
		        $("#bloc_save").show();
		      
		      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
		      return false;
		    });
		    
		    // La fonction qui ajoute un formulaire TicketType
		    function addTicket($container) {
		      // Dans le contenu de l'attribut « data-prototype », on remplace :
		      // - le texte "__name__label__" qu'il contient par le label du champ
		      // - le texte "__name__" qu'il contient par le numéro du champ
		      var template = $container.attr('data-prototype')
		        .replace(/__name__label__/g, 'Ticket n°' + (index+1))
		        .replace(/__name__/g,        index)
		      ;
		
		      // On crée un objet jquery qui contient ce template
		      var $prototype = $(template);
		      //var $prototype = $("#billets");
		
		      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
		      addDeleteLink($prototype);
		
		      // On ajoute le prototype modifié à la fin de la balise <div>
		      //$container.append($prototype);
		      $("#billets").append($prototype);
		
		      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
		      index++;
		    }
	
	    // La fonction qui ajoute un lien de suppression d'un ticket
	    function addDeleteLink($prototype) {
	      // Création du lien
	      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
	
	      // Ajout du lien
	      $prototype.append($deleteLink);
	
	      // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
	      $deleteLink.click(function(e) {
	        $prototype.remove();
	
	        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
	        return false;
	      });
	    }
	  });   
  </script>
  
  <style>
  	.help-block {
  		background-color: #f2dede;
	    border-color: #ebcccc;
	    color: #a94442;
	    padding: .75rem 1.25rem;
	    margin-bottom: 1rem;
	    border: 1px solid transparent;
	    border-radius: .25rem;
  	}
  </style>


    {%endblock%}